web/cicdtest/.phpunit.cache
web/cicdtest/node_modules
web/cicdtest/public/build
web/cicdtest/public/hot
web/cicdtest/public/storage
web/cicdtest/storage/*.key
web/cicdtest/vendor
web/cicdtest/.env
web/cicdtest/.env.backup
web/cicdtest/.env.production
web/cicdtest/.phpunit.result.cache
web/cicdtest/node_modules
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
**._*
**.DS_Store
